<section class="booking-page">
	<div class="row">
		<div class="col-xs-12">
			<h2>Booking</h2>
		</div>

		<!-- Room Selection -->
		<div class="col-xs-12">
			<form>

				<div class="form-group">
					<label for="roomSelect"> Room </label>
					<select class="form-control" id="roomSelect">
						[repeat rooms, room]
							<option> ${room.name} </option>
						[endrepeat]
					</select>
				</div>

				<div class="room-info">
					<p>
			          	<strong> Seats: </strong>
			          	<span class="seats"> 150</span>
			        </p>
					<p>
			          	<strong> Projector: </strong>
			          	<span class="projector"> Yes </span>
			        </p>
				</div>

			</form>
		</div>
	</div>
</section>

















