<section class="booking-page">
	<div class="row">
		<div class="col-xs-12">
			<h2>Boka rum</h2>
		</div>

		<!-- Room Selection -->
		<div class="col-xs-12">
			<form>

				<div class="form-group">
					<label for="roomSelect"> Välj rum </label>
					<select class="form-control" id="roomSelect">
						[repeat rooms, room]
							<option> ${room.name} </option>
						[endrepeat]
					</select>
				</div>

				<div class="form-group">
					Information om rummet
				</div>

			</form>
		</div>
	</div>
</section>

















