<section class="course-page">
	<div class="row">
		<div class="col-xs-12">
			<h2>${course.name} ${course.period}</h2>
			<div class="panel panel-default">
				<div class="panel-heading">Teachers
				</div>
				<div class="panel-body">
					[repeat course.teachers, user]
						[template listed-profile, user]
					[endrepeat]
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Students
				</div>
				<div class="panel-body">
					[repeat course.students, user]
						[template listed-profile, user]
					[endrepeat]
				</div>
			</div>
		</div>
	</div>
</section>
