<div class="loginpage">
	<div class="logo-div">
		<i class="logo fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
		<p class="logo-text text-center"> LMS </p>
	</div>
	<form class="login-form">
		<div class="form-group">
			<label for="username">Email address</label>
			<input type="email" class="form-control" id="username" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password">
		</div>
		<div class="text-center">
		<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>
</div>
