<div class='menu-slider'>
<header><a href="/">${header}</a></header>
<div class='profile-container'>
    <img class="img-responsive profile-picture" src="/images/profiles/${picture}" />
</div>
<img class="settings-icon" src="/images/icons/settings-icon@2x.png" />
<div class="menu-section-style">
    <p class="menu-fullname">${fullname}</p>
    <p class="menu-education">${education}</p>
</div>
<div class="menu-courses menu-box-style">Courses</div>
<ul class="menu-section-style">
    [repeat courses,course]
    <li class="third-head-text"><a class="menu-choice-courses" href="#" data-id=${course._id}>${course.name}</a></li>
    [endrepeat]
</ul>
<div class="menu-study-rooms menu-box-style"><p>Group Study Rooms</p></div>
<div class='menu-section-style'><button class="btn log-out">${logout}</button></div>
</div>