<div class="container-fluid">
    <div class="row">
        <div class="col-xs-11">
            <div class="menu-slider">
                <ul>
                    <li class="head-text"><a href="/">${header}</a></li>
                    <img class="fake-hamb-2" src="/images/hamb.png">
                    <li class="divider"></li>
                    <li class="second-head-text">${education}</li>
                    <li class="head-text">Your Courses:</li>
                        [repeat courses,course]
                            <li class="third-head-text"><a class="menu-choice-courses" 
                            href="#" data-id=${course._id}>${course.name}</a></li>
                        [endrepeat]
                    <li class="head-text"><a href="#">${booking}</a></li>
                    <li class="spacer"></li>
                    <li class="fullname"><span>You are logged in as: </span>${fullname}</li>
                    <li class="divider"></li>
                    <li class="second-head-text">${account}</li>
                    <li class="head-text"><a href="#">${usersettings}</a></li>
                    <li class="head-text"><a href="#">${password}</a></li>
                    <li class="spacer"></li>
                    <li class="log-out"><button class="log-out">${logout}</button></li>
                </ul>
            </div>
        </div>
    </div>
