<div class="container-fluid navigationbar">
	<div class="row">

		<div class="col-xs-8 col-md-10">
			<div class="fake-hamb">
				<img src="/images/hamb.png">
			</div>
		</div>

		<div class="col-xs-2 col-md-1">
			<div class="notification-btn text-right">
				<a href="#"><i class="glyphicon glyphicon-flag" aria-hidden="true"></i></a>
			</div>
		</div>

		<div class="col-xs-2 col-md-1">
			<div class="home-btn text-right">
				<a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
