<nav>
    <div class="container">
        <div class="col-xs-12 col-sm-1">
            <div class="nav-box nav-hamburger nav-toggle">
                <img class="nav-icon " src="/images/icons/hamburger-icon@2x.png">
            </div>
            <div class="nav-box nav-home">
                <img class="nav-icon" src="/images/icons/home-btn-icon@2x.png">
            </div>
            <div class="nav-box nav-arrow">
                <img class="nav-icon" src="/images/icons/arrow-icon@2x.png">
            </div>
        </div>
        <div class="col-xs-12 col-sm-11">
            <form>
                <img class="nav-icon" src="/images/icons/search-icon@2x.png">
                <input type="text" name="search" placeholder="Find students, teachers and cources">
            </form>
        </div>
    </div>
</nav>