<div class="row">
    <div class="col-xs-12">
        <nav>
            <div class="nav-box nav-hamburger nav-toggle">
                <img class="nav-icon " src="/images/icons/hamburger-icon@2x.png">
            </div>
            <div class="nav-box nav-home">
                <img class="nav-icon" src="/images/icons/home-btn-icon@2x.png">
            </div>
            <div class="nav-box nav-arrow">
                <img class="nav-icon" src="/images/icons/arrow-icon@2x.png">
            </div>
            <form>
            	<img class="nav-icon" src="/images/icons/search-icon@2x.png">
                <input type="text" name="search" placeholder="Search for students, teachers and cources">
            </form>
            <!-- Replace this section when adding search form content  -->
            <!-- <p class="search-text">Search for students, teachers and cources</p> -->
        </nav>
    </div>
</div>
