<div class="row">
	<div class="col-xs-6">
		<div class="list-group" item-type="Course">
			<h4>Courses:</h4>
			[repeat item.courses, course]
				<a class="list-group-item" list-item-id="${course._id}">${course.name}</a>
			[endrepeat]
		</div>
	</div>

	<div class="col-xs-4">

		<div class="dropdown">
			<h4>Add course to student:</h4>
			<select class="list-group dropdown-toggle selectpicker" data-style="btn btn-default">
				[repeat dropdowncourses, dropdowncourse]
						<option course-id="${dropdowncourse._id}">${dropdowncourse.name}</option>
				[endrepeat]
			</select>
		</div>
		<button class="btn btn-info add-course-to-item">Add Course</button>
	</div>
</div>