<input type="text" class="form-control" bind-key="room"    placeholder="Room id"    value="${item.room}">
<input type="text" class="form-control" bind-key="course"   placeholder="Course id"   value="${item.course}">
<input type="text" class="form-control" bind-key="date"    placeholder="Booking date"    value="${item.date}">
<input type="text" class="form-control" bind-key="timeFrom" placeholder="Booking start time" value="${item.timeFrom}">
<input type="text" class="form-control" bind-key="timeTo"    placeholder="Booking end time"      value="${item.timeTo}">
<input type="text" class="form-control" bind-key="bookedBy"    placeholder="Booked by"    value="${item.bookedBy}">
<input type="text" class="form-control" bind-key="type"    placeholder="Type of activity"    value="${item.type}">
