.frontpage-marginator {
	margin-top: 30px;
}

.frontpage-li {
	display: block;
    font-size: 22px;
    list-style-type: none;
}

button {
		.margin {
		margin-right: 10px;
		margin-top: 10px;
	}
}

.margin-bottom {
	margin-bottom: 20px;
}

.search-list {
	display: block;
    font-size: 18px;
    list-style-type: none;
	padding-left: 2px;

	a {
		cursor: pointer;
	}
}
