.frontpage-marginator {
	margin-top: 30px;
}

.frontpage-li {
	display: block;
    font-size: 22px;
    list-style-type: none;
}

item button {
	margin-top: 10px;
	margin-right: 10px;
}

.search-list {
	display: block;
    font-size: 18px;
    list-style-type: none;
	padding-left: 2px;
	padding-top: 20px;

	a {
		cursor: pointer;
	}
}