/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');
body {
    font-family: 'Roboto', sans-serif;
}


/*  Mix-ins for all useage through whole project */

.smooth-transition-5s {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hidden {
    display: none !important;
    visibility: hidden;
}


/* Wireframe Color-Guide Backgrounds: */

.ui-white-1 {
    background: #FAFAFA;
}

.ui-black-1 {
    background: #31312e;
}

.ui-black-2 {
    background: #424242;
}

.ui-grey-1 {
    background: #424242;
}

.ui-grey-2 {
    background: #616161;
}

.ui-color-1 {
    background: #EF5350;
}

.ui-color-2 {
    background: #F6F5EF;
}


/* Wrapper */

.wrapper {
    .smooth-transition-5s;
    padding: 0;
}


.sidebar-wrapper {
    .ui-black-1;
    .smooth-transition-5s;
    z-index: 1000;
    position: fixed;
    left: 360px;
    width: 0;
    height: 100%;
    margin-left: -360px;
    overflow-x: hidden;
}

.sidebar.open {
    position: relative;
    top: 0;
}

.menu-toggle {
    display: none;  
}
.wrapper.toggled {
    padding-left: 360px !important;
}

.wrapper.toggled .sidebar-wrapper {
    width: 360px;
}


/* ALL MEDIA QUERIES for the full project 
note: 760px is the temporary breaking point for mobile view (sidebar toggle) 
note2: Additional Media Queries will be needed to be added (at a later stage for iPhone 5 and smaller
*/

@media(min-width:760px) {

    // main.less
    .wrapper {
        padding-left: 360px;
    }
    .wrapper.toggled {
        padding-left: 0;
    }
    .sidebar-wrapper {
        width: 360px;
    }

    .wrapper.toggled .sidebar-wrapper {
        width: 0;
    }

    // Navbar
    .navbar nav .nav-box .nav-hamburger, .nav-toggle, .nav-arrow {
        .hidden;
    }

}

@media(max-width:760px) {

    // main.less 

    .menu-toggle {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 20px;
        cursor: pointer;
    }


    // sidebar.less

    .sidebar .menu header a {
        color: #fafafa;
        margin-left: -100px;
    }

    
    // navbar.less

    .navbar {
    

    nav {

        margin-bottom: 200px;
        height: 200px;

        form {
            display: block;
            top: 0;
            left: 0;
            img {
                filter: invert(100%);
                width: 16px;
                height: 16px;
            }
            input[type=text] {
                font-size: 13px;
                width: 250px;
                background-color: transparent;
                border: none;
                margin: 8px;
            }
        }
    }
    
}



}

