
.nav-background {
	padding: 0;
}

.navbar {

	nav {

		background: #424242;
		height: 60px;

		.nav-box {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 60px;

			.nav-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 20px;
				height: 20px;
				margin-top: -10px;/* Half the height */
				margin-left: -10px; /* Half the width */
			}


			
		}

		.nav-box:last-of-type {width: 400px;

		    .nav-icon:last-of-type {left: 8%;}

		    .search-text {
		        position: absolute;
		        top: 21px;
		        left: 60px;
		        color: #fafafa;
		        font-size: 13px;
		    }
		}


		.vert-line {
			display: inline-block;
				width: 2px;
				height: 60px;
				background: #fafafa;
			}
	}
}


// nav {
// 	background-color: #d1d1d1;
// 	// position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	font-weight: bold;
// 	font-size: 20px;
// 	height: 50px;
// 	z-index: 2;
// 	padding: 0 15px;
	
// 	.hamburger {
// 		float: left;
// 		height: 100%;
// 		padding-top: 8px;
// 		cursor: pointer;
// 		-webkit-transition-duration: 0.4s;
// 				transition-duration: 0.4s;

// 		img {
// 			width: 30px;
// 			height: 30px;
// 		}
// 	}

// 	.float-right {
// 		float: right;
// 	}

// 	.nav-button {
// 		float: left;
// 		height: 100%;
// 		color: #337ab7;

// 		a {
// 			margin-left: 30px;

// 			.notif-button { padding-top: 15px; }
// 			.home-button { padding-top: 4px; }
// 		}

// 	}

// }