// .nav-background {
// 	.ui-black-2;
// 	height: 60px;

// 	// An ugly solution, until i've solved this issue: 
// 	// bootstrap adds an additional +15px padding, when it should have been taken care of by the "row"...
// 	// Maybe it will be solved with bootstrap in .less, instead of .css ...
// }

.navbar {
	height: 60px;
	background: @custom-color-grey;

	nav {

		.nav-box {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 60px;
			border-right: 1px solid @custom-color-white;

			.nav-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 20px;
				height: 20px;
				margin-top: -10px;/* Half the height */
				margin-left: -10px; /* Half the width */
			}	
		}

	}
	
	form {
			display: inline-block;
		    position: relative;
		    top: -24px;
		    left: 20px;
		    color: #fafafa;

		img {
			width: 20px;
			height: 20px; 
		}

		
		input[type=text]{
			margin-left: 10px;
		    width: 280px;
	        background-color: transparent;
	        padding: -6px 73px 5px 10px;
	        border: none;
	        -webkit-transition: width 0.4s ease-in-out;
	        transition: width 0.4s ease-in-out;
			
		}
	}
}
