.sidebar {
	
	.menu {
		width: 360px !important; 
		color: #fafafa;
		font-size: 14px;
		letter-spacing: 1px;

		a {
			color: #fafafa;
		}

		.menu-section-style { margin-left: 22px;}

		.menu-box-style {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 40px;
		}

		header {
			.ui-color-1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 60px;

			a {color: #fafafa;}
		}

		.profile-container { 

			width: 100%;
			.ui-black-2;

			.profile-picture {
				width: 40%;
				margin: 0 auto;
				padding: 14px 0;

			}
		}

		.settings-icon {
			float: right;
			margin: 20px 20px 0 0;
		    width: 24px;
		    border: 0.11em solid #fafafa;
		    border-radius: 4px;
		    padding: 3px;
		    cursor: pointer;

		}

		.settings-icon:hover {
			opacity: 0.5;
		}

		.menu-fullname {
			margin: 30px 0 0 0;
			font-size: 14px;
		    font-weight: 600;

		}

		.menu-education {
			letter-spacing: 1px;
		    font-size: 12px;
		    margin: 0 0 50px 0;
	    }


		.menu-courses {
			.ui-grey-2;
		    letter-spacing: 1.4px;
		    margin-bottom: 20px;
		}


		ul {
			
			list-style-type: none;
			padding: 0;

			li {
				margin-bottom: 5px;
				font-size: 12px;
				letter-spacing: 1px
			}
		}

		.menu-study-rooms {
			.ui-grey-2;
		    letter-spacing: 1.4px;
		    margin: 40px 0 20px 0;

		    p {
		    	margin: 0;
		    }

		}

		.log-out {

			background-color: #333;
		    border: 0.11em solid #fafafa;
		    padding: 4px 10px;
		    border-radius: 6px;
		}

		.log-out:focus {outline:0;}
	}
}