<section class="sidebar">
	<img class="menu-toggle">
	<div class='menu'>
		<header class="header-sidebar">
			<a href="/">${header}</a>
		</header>
		<div class="menu-section-style">
			<p class="menu-fullname">ADMIN</p>
		</div>
		<ul>
			[repeat categories,category]
				<li class="third-head-text"><a class="category-${category.name}" href="?cat=${category.url}">${category.name}</a></li>
			[endrepeat]
			<li class="spacer"></li>
			<li class="fullname"><span>You are logged in as administrator: <br> </span>${fullname}</li>
			<li class="divider"></li>
		</ul>
		<div class='menu-section-style'>
			<button class="btn log-out">${logout}</button>
		</div>
	</div>
</section>