<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Courses</h3>
			<input type="search" class="form-control" placeholder="search"></input>
			<div class="vspace"></div>
			<ul>
                [repeat courses, course]
                	<li class="coursepage-li">
                		<a class="course-info" course-id="${course._id}" href="#">${course.name}</a><br>
                		<p>${course.period}</p>
                   	</li>
                [endrepeat]
			</ul>
		</div>
	</div>
</div>
