<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Edit</h3>
	        <div class="input-group input-group-sm studenteditpage-input-areas">
				<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
				<input type="text" class="form-control" placeholder="Firstname" aria-describedby="sizing-addon3">
				<input type="text" class="form-control" placeholder="Lastname" aria-describedby="sizing-addon3">
				<input type="text" class="form-control" placeholder="Phonenumber" aria-describedby="sizing-addon3">
				<input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
				<input type="text" class="form-control" placeholder="Age" aria-describedby="sizing-addon3">
			</div>
			<div class="edit-buttons">
				<button type="button">Delete student</button>
				<button type="button">Discard changes</button>
				<button type="button">Save changes</button>
			</div>
		</div>
	</div>
</div>
