[repeat itemObj, key, item]
	<li item-id="${item._id}">
		[if type == "student" || type == "teacher"]
			<a>${item.firstname} ${item.lastname}</a>
			<p>${item.username}</p>
		[else if type == "admin"]
			<a>${item.username}</a>
		[else if type == "education" || type == "course"]
			<a>${item.name}</a>
		[else if type == "room"]
			<a>${item.name}</a><br>
			<p>${item.description}</p>
		[else if type == "booking"]
			<a>${item.room.name}</a>
			<p>${item.date.substring(0,10)} From: ${(item.timeFrom.substring(11,16))} To ${item.timeTo.substring(11,16)}</p>
		[endif]
	</li>
[endrepeat]