<item item-id="${item._id}">
	<h3>Edit ${type}</h3>
	<div class="input-group input-group-sm">
		[template edit-${type}]

		<button type="button" class="btn btn-primary margin save-item">Save</button>
		<button type="button" class="btn btn-danger margin delete-item">Delete</button>

		[if type == "education" || type == "course" || type == "student" || type == "teacher"]
			[template edit-${type}-relations]

			<button type="button" class="btn btn-danger remove-item">Remove</button>
		[endif]
	</div>
</item>