<section class="front-course-section">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">Courses</h2>
		</div>
	</div>
	<div class="row">
		[repeat courses, course]
		<div class="col-xs-12">
			<div class="shell show-course" style="background-color: ${course.icon_bg}">
				<a data-id="${course._id}">
					<div class="icon-box"><img src="/images/icons/${course.icon_image}" class="img-responsive" /></div>
					<p>${course.name}</p>
				</a>
			</div>
		</div>
		[endrepeat]
	</div>
</section>