<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="teacher-message">
                <h3 class="new-message">Compose New Message</h3>
                <textarea class="form-control teacher-input-area" rows="5"></textarea>
                <div class="vspace"></div>
                <div class="btn-group">
                    <button id="dropdown-button" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Course<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                    <li class="select-all"><a>
                        &nbsp;${getall}</a>
                    </li>
                        [repeat courses,course]
                        <li class="course-list" course-id="${course._id}"><a>
                            &nbsp;${course.name}<span class="" aria-hidden="true"></span></a>
                        </li>
                        [endrepeat]
                    </ul>
                    <button class="send-button" type="button">Send</button>
                    <p class="msg-sent"></p>
                </div>
            </div>
        </div>
    </div>
</div>