<label>Posted Messages (in your courses)</label>
 [repeat announcements, announcement]

<div class="posted-msg" post-id="${announcement._id}">
    <time class="announcement-date">
        <p><strong>${announcement.author.firstname} ${announcement.author.lastname}</strong> ${announcement.dateString} 
        <br>in: <strong>${announcement.courseNames}</strong></p>
    </time>
    <p>${announcement.message}</p> 
    <button type="button" class="btn remove-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> Remove Message</button>
</div>

[endrepeat]