<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="teacher-message">
                <h3 class="new-message">Compose New Message</h3>
                <textarea class="form-control teacher-input-area" rows="5"></textarea>
                <div class="vspace"></div>
                <div class="btn-group">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Course<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        [repeat courses,course]
                        <li><a href="#">${course.name}</a></li>
                        [endrepeat]
                    </ul>
                    <button class="send-button" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>