<!-- Book a room modal-->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Boka ${room.name}</h4>
      </div>
      <div class="modal-body">
        	<form>

            <p class="date"> <strong>Datum:</strong> ${dateInfo} </p>

            <div class="form-group">
                <label for="courseSelect" class="control-label">Välj kurs</label>
                <select class="form-control" id="courseSelect">
                  <option selected disabled> Vilken kurs bokar du för?</option>
                  [repeat courses, course]
                    <option data-course-id='${course._id}'> ${course.name} </option>
                  [endrepeat]
                </select>
            </div>

            <div class="form-group">
                <label for="timeSelect" class="control-label">Välj Tid</label>
                <select class="form-control" id="timeSelect">
                  <option selected disabled> Välj en ledig tid</option>
                  <option value="morning"> Förmiddag </option>
                  <option value="afternoon"> Eftermiddag </option>
                  <option value="wholeday"> Heldag </option>
                </select>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        <button type="button" class="btn btn-primary book-button">Boka!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->