<!-- Weekpager -->
<section class="week-planner">
	<div class="row">
		<div class="col-xs-12">
			<nav aria-label="...">
				<ul class="pager">
					<li class="previous"><a href="#" id="prev"><span aria-hidden="true">&larr;</span> Föreg.</a></li>
					<li><h3 class="fill-space"> Schema </h3></li>
					<li class="next"><a href="#" id="next">Nästa <span aria-hidden="true">&rarr;</span></a></li>
				</ul>
			</nav>	
		</div>
	</div>

	<!-- Weekschedule -->
	<!-- Hour row -->
	<div class="row hour-row">
		<div class="col-xs-offset-2 col-xs-1"> 08 </div>
		<div class="col-xs-1"> 09 </div>
		<div class="col-xs-1"> 10 </div>
		<div class="col-xs-1"> 11 </div>
		<div class="col-xs-1"> 12 </div>
		<div class="col-xs-1"> 13 </div>
		<div class="col-xs-1"> 14 </div>
		<div class="col-xs-1"> 15 </div>
		<div class="col-xs-1"> 16 </div>
		<div class="col-xs-1"> 17 </div>
	</div>
	
	[repeat week, day]	
		<div class="row week-schedule-row">
			<div class="col-xs-2">
				<div class="day-col">
				<p> ${day.day} </p>
				<p class="date"> ${day.date} </p> 
				</div>
			</div>
			<div class="bookings">
				
			</div>
		</div>
		<div class="vspace"></div>
	[endrepeat]

</section>