<!-- Weekpager -->
<section class="week-planner">
	<div class="row">
		<div class="col-xs-12">
			<nav aria-label="...">
				<ul class="pager">
					<li class="previous"><a href="#" id="prev"><span aria-hidden="true">&larr;</span> Föreg.</a></li>
					<li><h3 class="fill-space"> Vecka ${week[0].weekNum} </h3></li>
					<li class="next"><a href="#" id="next">Nästa <span aria-hidden="true">&rarr;</span></a></li>
				</ul>
			</nav>	
		</div>
	</div>

	<!-- Weekschedule -->
	<!-- Hour row -->
	<div class="row hour-row">
		<div class="col-xs-offset-2 col-xs-1"> 08 </div>
		<div class="col-xs-1"> 09 </div>
		<div class="col-xs-1"> 10 </div>
		<div class="col-xs-1"> 11 </div>
		<div class="col-xs-1"> 12 </div>
		<div class="col-xs-1"> 13 </div>
		<div class="col-xs-1"> 14 </div>
		<div class="col-xs-1"> 15 </div>
		<div class="col-xs-1"> 16 </div>
		<div class="col-xs-1"> 17 </div>
	</div>
	[repeat week, day]	
		<div class="row week-schedule-row" data-timestamp='${day.timestamp}'>
			<div class="col-xs-2">
				<div class="day-col">
				<p> ${day.month}</p>
				<p class="date"> ${day.day} ${day.date} </p> 
				</div>
			</div>
			[if day.bookings != 'none']
				<div class="bookings">
					[repeat day.bookings, booking]
						<div class="booking col-xs-${booking.hours}">
							<p>Bokad av: <span class="info-text">${booking.bookedBy}</span></p>
							<p>Klass: <span class="info-text">${booking.course.name}</span></p>
						</div>
					[endrepeat]
				</div>
			[endif]
		</div>
		<div class="vspace"></div>
	[endrepeat]

	<!-- Book a room modal-->
	<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"> </h4>
	      </div>
	      <div class="modal-body">
	        <p>Modal body</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
	        <button type="button" class="btn btn-primary book-button" data-dismiss="modal">Boka!</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</section>