//Temp CSS, will be integrated with rest of menu classes

@media screen and (max-width: 372px) {

    // For the smaller devices iPhone 5 etc. 
    .menu-slider-admin {
        position: fixed;
        left: -400px;
        width: 80%;
    }

    .menu-slider-admin ul {
        width: 300px;
    }
}

.menu-slider-admin {
    position: fixed;
    top: 0;
    left: -400px;
    width: 365px;
    height: 100vh;
    background-color: #262228;
    display: block;
    margin: 0;
    padding-top: 20px;
    z-index: 3;
}

.menu-slider-admin ul {
    list-style-type: none;
}

.startfrontpage-marginator {
	margin-top: 30px;
}

.startfrontpage-li {
	display: block;
    font-size: 20px;
    list-style-type: none;
}

.coursepage-li {
	display: block;
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
    border: 1px solid black;
}
