/*
Temp CSS, will be integrated with rest of menu classes

@media screen and (max-width: 372px) {

    // For the smaller devices iPhone 5 etc.
    .menu-slider-admin {
        position: fixed;
        left: -400px;
        width: 80%;
    }

    .menu-slider-admin ul {
        width: 300px;
    }
}
*/

.menu-slider-admin {
    position: fixed;
    top: 0;
    left: -400px;
    width: 365px;
    height: 100vh;
    background-color: #262228;
    display: block;
    margin: 0;
    padding-top: 20px;
    z-index: 3;
}

.menu-slider-admin ul {
    list-style-type: none;
}

.frontpage-marginator {
	margin-top: 30px;
}

.frontpage-li {
	display: block;
    font-size: 22px;
    list-style-type: none;
}

.edit-buttons {
	margin-top: 10px;
	text-align: center;
}

.search-list {
	display: block;
    font-size: 18px;
    list-style-type: none;
	padding-left: 2px;
}

.search-list a {
	cursor: pointer;
}
