.loginpage {
    width: 100%;
}

.loginpage .container {
    width: 300px;
    margin: 0 auto;
}

.loginpage .container img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.loginpage button {
    min-width: 50%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .loginpage .forgotPsw {
        display: block;
        float: none;
    }
}