/* Move body content down, because of fixed navbar */

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    padding-top: 70px;
}


/* Modal vertical center align */

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    min-width: 350px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/* Vertical spacer element */

.vspace {
    height: 20px;
}


a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
}


/* Forms */

.input-group-addon {
    text-align: left;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.course-panel {
	cursor: pointer;
}

.specific-course-ul {
	border-top: 1px solid black;
}

.specific-course-li {
	list-style-type: none;
	display: inline-block;
}


/*MEDIA QUERIES*/
/*
@media screen and (min-width: 450px) {

     TO USE LATER SPRINT 2

     .menu-slider {
         width: 365px;
         left: 0;
     }

     .teacher-message{
         width: 365px
     }

     .navigationbar{
     background-color: #c1c1c1;
     position: fixed;
     top: 0;
     left: 365px;

 }

     .navigationbar > .fake-hamb img {
         display: none;
     }

     .fake-hamb-2 {
         display: none;
     }

}
*/

@media screen and (max-width: 372px) {

     For the smaller devices iPhone 5 etc.
    .menu-slider {
        position: fixed;
        left: -400px;
        width: 80%;
    }

    .menu-slider ul {
        width: 300px;
    }


    .fake-hamb-2 {
        position: absolute;
        top: 20px;
        right: 56px;
    }

    .divider2 {
        display: none;
    }

}
