.navigationbar{
	background-color: #d1d1d1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-weight: bold;
	font-size: 20px;
	height: 50px;
	z-index: 2;
}

.navigationbar .fake-hamb {
	height: 100%;
	display: inline-block;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding-top: 8px;
	cursor: pointer;
}

.navigationbar .fake-hamb img {
	width: 30px;
	height: 30px;
}

.home-btn{
	height: 100%;
	color: #337ab7;
	padding-top: 4px;
}