.startpage {
    width: 100%;
    margin-top: 200px;
}

.startpage .container {
    width: 300px;
    margin: 0 auto;
}

.startpage .container img {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}