/* Teacher Message */

.teacher-message{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #e1e1e1 ;
    border-radius: 5px;
}

.new-message {
    color: #262228;
    font-size: 19px;
    margin: 6px 0;
    display: inline-block;
    margin-bottom: 10px;
}

.divider2 {
    margin: 3px 0;
    margin-left: 10px;
    width: 90px;
    border: 1px solid #262228;
    display: inline-block;
}

.teacher-input-area{
    resize: none;
    font-family: Verdana;
}

.dropdown-menu li{
    cursor: pointer;
    width: 180px;
}

.btn-group button {
    background-color: #fff;
    padding: 4px 20px;
    border: 1px solid #262228;
    -webkit-transition: all ease-in-out 200ms;
      transition: all ease-in-out 200ms;
    margin-right: 10px;
}

.caret {
    margin-left: 10px;
}

.checked-course {
    font-size: 10px;
    padding-left: 10px;
    color: green;
}
